@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*========== Variaveis CSS ==========*/
:root{
/*========== Colors ==========*/
    --cor-branco:rgb(255, 255, 255);
    --gray-para: gray;
    --bg-gradient: linear-gradient(45deg,#803099 25%, rgb(152, 68, 183) 51%, rgb(255, 53, 127) 100%);
    --bg-gradient-hover: linear-gradient(45deg,rgb(255, 53, 127) 25%, rgb(152, 68, 183) 61%, #803099 100%);

    /*========== Font Size ==========*/
    --h1-fontSize: 4.6rem;
}


/*========== Resetar Classes ==========*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: "Bai Jamjuree", sans-serif;
    overflow:none;
    scroll-behavior: smooth;
}

header, section{
    background-color: black;
    color: var(--cor-branco);
    box-sizing:border-box;
}

main > section {
        padding-bottom: 1rem;
    }

body a{
    text-decoration: none;
}


/*========== Classes Reutilizaveis ==========*/
.main-title{
    font-weight:bolder;
    font-size:var(--h1-fontSize);
    text-align: center;
    text-decoration: underline;
    font-family: "Bai Jamjuree", sans-serif;
    color: var(--cor-branco);
    margin-block: 1.5rem;
}

.container{
    margin: 0 auto;
    max-width:1120px;
    width:100%;
}


/*========== Seção Header ==========*/
header{
    height: 100vh;
    color:var(--cor-branco);
}

header .nav{
    position: fixed;
    transition: top .4s;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-menu{
    width: 90%;
    margin:0 auto;
    list-style:none;
    display: flex;
    justify-content: end;
    gap:1.5rem;
}

.header-menu .header-links{
    letter-spacing: 3px;
    padding-block:1rem;
}

.header-menu .header-links a:hover{
    color: var(--cor-branco);
    border-bottom: 2px solid #cf409b;;
    padding-bottom: 5px;
    transition: all .2s;
}

.nav__close, .nav__toggle{
    display: none;
}

.header-links a{
    font-size: 3vh;
    text-decoration:none;
    color: grey;
}

.header-links a:hover{
    opacity:.7;
}

.header-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.header-para-nome{
    display: block;
    font-size: 4.5rem;
    color: var(--cor-branco);
    font-weight: 500;
}

#header-pod{
    color: var(--cor-branco);
    font-style: italic;
    text-decoration: underline;
    font-weight: 900;
    font-size: 1.7rem;
}

header h2:nth-child(2){
    font-size: 1.9rem;
    margin-bottom: 25px;
    font-style: italic;
    color: var(--gray-para);
    font-family: "Afacad Flux", sans-serif;
    font-weight: lighter;
}

header h3{
    margin-block-start: 15px;
}

.btn-principal{
    font-family: "Afacad Flux", sans-serif;
    padding: .6rem 1.4rem;
    background: var(--bg-gradient);
    font-size: 22px;
    margin: 2.5rem auto;
    color: var(--cor-branco);
    font-family: 'Open Sans', sans-serif;
}

.btn-principal:hover{
    background:var(--cor-branco);
    background:var(--bg-gradient-hover);
    color:black;
    transition: .5s ease-out;
}

.header-icon-container{
    margin-top:6vh;
}

.header-ico{
    font-size: 5vh;
    color:gray;
    margin: 7vh 2.5vh;
    cursor: pointer;
}

.header-ico:hover {
    color: var(--cor-branco);
  }

/*========== Seção Sobre Mim ==========*/

#sobre-mim{
    padding-block: 1.8rem;
    background-color: rgba(0, 0, 0, 0.799);
    color: black;
    min-height: 100vh;
}

.sobre-container{
    display: flex;
    margin-top: 12vh;
}

.sobre-container h1{
    line-height: 11vh;
    
}

.sobre-para{
    padding: 10px 15px;
}

.sobre-para-text{
    font-size: 2rem;
    font-weight: lighter;
    text-align: justify;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.452);
    margin-top: 2rem;
    padding-right: 15%;
    font-family: "Afacad Flux", sans-serif;
}

.sobre-para-text em{
    color: rgba(255, 255, 255, 0.658);
}

.btn-sobre-container{
    margin-block:2rem;
    padding-inline-start: 1rem;
}

#sobre-mim #perfil{
    height: 50vh;
    box-sizing: border-box;
    width: 100%;
}

#sobre-mim #perfil img{
    height: 55vh;
    width: 50vh;
    margin-block: 5rem;
    padding-left:15%;
}

.sobre-ico-item h3{
    margin: 0;
    font-family: monospace;
}

/*========== Seção habilidades ==========*/
#habilidades{
    height: 711px;;
    padding-top: 3%;
}

.habilidades-tecno-container{
    padding:2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Afacad Flux", sans-serif;
    gap: 1.7rem;
    margin-block: 3.3rem 2.4rem;
}

.habilidades-ico-item{
    padding:1rem .25rem;
    text-align: center;
    border:1px solid white;
    color: rgba(255, 255, 255, 0.452);
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.236);
    transition: all .7s;
}

.habilidades-ico-item:hover{
    color: var(--cor-branco);;
    border:1px solid pink;
    background:var(--bg-gradient);
}

.devconI{
    font-size: 3rem;
}

.devconI:hover{
    color:var(--cor-branco);
}


/*========== Seção Projetos ==========*/

#projetos{
    height: 800px;
    padding-block: 2rem 4.8rem;
}

.projetos-grid-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.projetos-grid-image{
    height: 307px;
    width: 90%;
    opacity: .4;
}


.projetos-grid-item{
    margin-block: 1rem 5vh;
    text-align: justify;
}

.projetos-grid-para{
    line-height: 1.6rem;
    color: var(--gray-para);
    margin-block: 1rem 2.4rem;
    padding-inline-end: 3rem;
}

.botao-projeto{
    padding: 3% 2rem;
    font-weight: bolder;
    width: 100%;
    color:var(--cor-branco);
    background-color: black;
    border: 1px solid white;
}

.botao-projeto:hover{
    color: #23232e;
    background-color: var(--cor-branco);
}

/* Section sociais */

@media all and (max-width:1100px){
    .projetos-grid-container{
    grid-template-columns: 1fr 1fr;
}
}

@media all and (max-width:768px){
    body{
        overflow-x:hidden;
    }

    section{
        text-align: justify;
    }

    .main-title{
    }


    .sobre-para-text{
        display: block;
    }

    /*========== Seção Header ==========*/
    header{
        padding-inline:1rem;
    }
    
    .header-menu{
        margin-block-start: 3.2rem;
        display: none;
    }

    .header-links{
        text-align: center;
    }

    .header-links a{
        font-size: 2.3rem;
        color: white;
        font-weight: bolder;
    }

    .nav__close, .nav__toggle{
        display: inline-block;
        position: absolute;
        padding: 3px 5px;
        top:10px;
        right: 2rem;
        color: white;
        font-size: 35px;
        cursor:pointer;
        border-radius: 3px;
        background-color: black;
    }
    
    .nav__toggle:hover{
        color: #803099;
        transition: .5s;
    }

    .show-menu{
        height: 100vh;
        display:inline-block
    }

    .btn-hidden{
        display: none;
    }

    .header-para-nome{
        line-height: 1;
        margin-block-end: 1rem;
    }

    /*========== Seção Sobre Mim ==========*/
    #sobre-mim{
        box-sizing: border-box;
        text-align: center;
        padding-block-end: 2rem;
    }
    .sobre-container{
        flex-direction: column-reverse;
    }

    .sobre-para-text{
        padding: 0;
    } 

    #sobre-mim #perfil img{
        padding:0;
        margin-block:0 1rem;
    }

/*========== Seção habilidades ==========*/ 
#habilidades{
    height: 100%;
}
.habilidades-tecno-container{
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
}

/*========== Seção PROJETOS ==========*/
    #projetos{
        padding-inline: 1rem;
        height: 100%;
    }

    .projetos-grid-container{
    grid-template-columns: 1fr;
}

}