body{
    margin:0;
    padding:0%;
    box-sizing:border-box;
}

.fix{
    clear:both;
}

.header-nav{
    height: 720px;
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.479)), url('../img/HeaderBc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-nav a{
    color:white;
}

.navbar-nav{
    text-transform: uppercase;
}

.form-wrapper{
    max-width:600px;
    position:absolute;
    top:20%;
    left:50%;
    transform: translate(-50%);

}

.form-wrapper form{
    background-color: rgba(255, 255, 255, 0.884);
    padding:12px;
}

.form-subtitle{
    font-size: 21px;
    margin-bottom:0;
    color:rgba(255, 255, 255, 0.815);
    border-bottom: 1px solid white;
}

.form-title{
    font-size: 6rem;
    color:yellow;
}

.input-wrapper{
    display:inline-block;
}

.input-wrapper h3{
    font-size:17px;
}

.input-wrapper input {
    max-width:130px;
}

.input-wrapper .dropdown{
    margin-top:21px;
}

.input-wrapper input[type="submit"]{
    background-color: black;
    border:none;
    margin:0 auto;
    padding: 5px 25px;
    font-size:21px;
    color:white;
}

/*Rooms section */
#Rooms{
    margin: 5% 0;
    text-align:center;
}

